body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.top-header {
    background-color: rgb(80, 33, 124);
    color: white;
    padding: 10px;
    overflow: hidden;
}

.mainmanu {
    display: inline-block;
    position: static;
}

.left {
    margin: auto;
    display: inline-block;
}

.lOgO {
    max-width: 86%!important;
    height: 50px;
    margin-top: 3px;
    margin-left: 50px;
    width: 240px;
}

.left li {
    display: inline;
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

.right li {
    list-style-type: none;
    list-style: none;
    margin-right: 10px;
}

.right span,
a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

ul.right {
    display: inline-block;
    float: right;
}

header a:hover {
    font-weight: bold;
    text-decoration: none;
}

header a:active {
    background-color: tomato;
}

.navbar-right {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.navbar-right a {
    text-decoration: none;
    color: rgb(54, 13, 236);
}

.navbar-right li {
    float: left;
    list-style-type: none;
    font-size: medium;
    margin-right: 20px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #e6752a;
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text .container .assets {
        font-size: 11px
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.myslides p {
    color: blue;
    ;
}

.asset {
    width: 22%;
    margin: 10px;
    background-color: tomato;
    float: left;
    text-align: center;
    font-weight: bold;
    color: white;
    min-height: 350px;
    padding-top: 40px;
}

.asset p {
    margin: 5px;
    display: inline-block;
}

.left-about {
    float: left;
    display: inline-block;
    overflow: hidden;
    width: 50%;
    margin-top: 20px;
}

.right-about {
    text-align: center;
    float: right;
    width: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.right-about .buttion {
    padding: 10px;
}

.achievements .overlay {
    background-color: rgba(146, 39, 143, .8);
}

.program-head {
    text-align: center;
    margin-top: 5%
}

.programs {
    display: inline-block;
    width: 30%;
    margin-right: 10px;
}

.programs img {
    width: 100%;
}

.img-caption span {
    float: left;
    background-color: tomato;
    padding: 2% 5% 2% 5%;
    margin: 1px;
    text-align: center;
}

.bg-success div .right {
    margin: 5px;
}

footer {
    margin-top: 40px;
}

.footer-left {
    width: 50%;
    text-align: center;
    float: left;
}

.footer-right {
    width: 50%;
    text-align: center;
    float: right;
}

.bottom {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.bottom p {
    display: inline-block;
    padding-left: 5%;
    color: teal;
}

.bottom-right {
    float: right;
    padding: 0px;
    display: inline-block;
}

.bottom-right li {
    list-style-type: none;
}

footer a:hover {
    text-decoration: none;
}

.bottom-left {
    width: 50%;
    display: inline-block;
}

.contact-form .contact-input {
    width: 100%;
    margin-bottom: 10px;
    color: #696969;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px;
    outline: none;
}

.teacher-left {
    width: 50%;
    float: left;
    text-align: center;
    background-color: turquoise;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.teacher-right {
    width: 50%;
    float: right;
    text-align: center;
    background-color: rgb(243, 88, 140);
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.parents-left {
    float: left;
    margin-bottom: 10px;
    width: 50%;
}

.parents-right {
    float: right;
    margin-bottom: 10px;
    width: 50%;
}

.parents-right p,
.parents-left p {
    margin: 0px
}

.contect-left {
    width: 30%;
    display: inline-block;
    float: left;
}

.contect-right {
    width: 70%;
    display: inline-block;
    float: right;
}

.row li {
    list-style-type: none;
}

.mygallery {
    padding-left: 15%;
}

.mygallery img {
    width: 25%;
    margin-bottom: 20px;
    max-height: 200px;
}

@media screen and (max-width: 768px) {
    .asset,
    .left-about,
    .programs,
    .container,
    .programs span,
    .teacher-left,
    .teacher-right,
    .footer-left,
    .footer-right,
    .right li,
    .left-about,
    .right-about,
    .parents-left,
    .parents-right,
    .bottom-right,
    .bottom-left,
    .mainmanu,
    .mygallery img {
        width: 100%;
        margin-left: 0px;
    }
    .top-header,
    .navbar-right {
        display: none;
    }
    .mainnav .icon {
        display: inline-block;
        float: right;
        margin-top: 5%;
    }
    .myTopnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    .myTopnav .right {
        display: none;
    }
    .myTopnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .myTopnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .bottom {
        background-color: lightskyblue;
    }
    .container h1 {
        font-size: inherit;
    }
    ul.right {
        background-color: white;
    }
    .mygallery {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.icon {
    display: none;
}

.lb-nav a.lb-next {
    width: 30%;
}