header{
	background-color:black;
    color:white;
    display: flow-root
}
header h1{
    text-align:center;
    margin-top: 0%;
}
li a{
	color:white;
}
ul{
    list-style-type:none;
}
li{
    float:right;
    display:block;
}
li a{
    
    color:white;  
    padding:2px; 
}
#image{
    background-color:yellow;
	text-align:center;
}
#video{
	background-color:red;
}
video{
	height:150px;
}
#audio{
	background-color:green;
	text-align:right;
}
#m{
	background-color:red;
}
#eo{
	background-color:green;
}
footer{
	background-color:black;
	text-align:center;
	color:white;
}
	
	